<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>게시글 작성</h2>
<div>
    <form action="/postProc" method="post">
        <div>
            <label for = "title"> 제목 : </label>
            <input type="text" id="title" name="title" placeholder="제목을 입력하세요"><br>
        </div>
        <div>
            <label for = "content"> 내용 : </label>
            <input type="text" id="content" name="content", placeholder="내용을 입력하세요."
            style="width: 300px; height: 100px;"><br>
        </div>
        <div>
            <button type="submit">작성</button>
        </div>
    </form>
</div>
</body>
</html>